body {
    /* Background pattern from Toptal Subtle Patterns */
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/moroccan-flower.png");
 
}

.navbar-brand {
    color: #DEB887;
}
  

.footer {
    padding:  15px;
    text-align: center;
    background-color: #B0C4DE;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}